{% extends 'hospital/base.html' %}
{% load static %}

{% block title %}Информация о доступных услугах{% endblock %}

{% block content %}
{% if request.user.is_authenticated %}

<link rel="stylesheet" href="{% static 'service/css/service.css' %}"/>

<p class="text-right px-6 py-3 text-lg font-semibold">{{ timezone }} {{ datetime.date }}</p>
<div class="container mx-auto px-4">

  <h2 class="text-2xl font-bold mb-4">Категории услуг</h2>
  <ul class="flex flex-wrap gap-4 py-2">
    {% for category in categories %}
    <li><a href="#{{ category.id }}" class="text-blue-500 py-2 border-b-2 hover:text-blue-700">{{ category.name }}</a></li>
    {% endfor %}
  </ul>

  <h2 class="text-2xl font-bold my-4">Услуги</h2>

  <form method="post" action=".">
    {% csrf_token %}
    <ul>
      {% for category in categories %}
      <h2 id="{{ category.id }}" class="category text-xl py-1 border-b-2 border-gray-400 font-normal my-4">{{ category.name }}</h2>
      {% for service in services %}
      {% if service.category == category %}
      <li class="flex items-center mb-2">
        <input type="checkbox" name="services" value="{{ service.id }}" id="service-{{ service.id }}" class="mr-2">
        <label for="service-{{ service.id }}" class="font-light">{{ service.name }}</label>
        <span class="font-light mx-2">-</span>
        <span class="font-extrabold">{{ service.price }} BYN</span>
      </li>
      {% endif %}
      {% endfor %}
      {% endfor %}
    </ul>

    <button type="submit" class="mt-4 bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded">
      Create Order
    </button>
  </form>

</div>
{% else %}
<div class="flex items-center justify-center">
  <a href="/login/" class="text-blue-500 hover:text-blue-600 mt-20 font-bold text-4xl">Страница доступна только после авторизации!</a>
</div>
{% endif %}
{% endblock %}

