<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Список часто-задаваемых вопросов и ответов">
    <title>Словарь терминов и понятий</title>
</head>
<body>
<header>
    <h1>Словарь терминов и понятий</h1>
</header>

<section>
    <h2>Часто задаваемые вопросы (FAQ)</h2>
    <ul>
        <li>
            <div>
                <span>Добавлено: <time datetime="11.09.2023">11.09.2023</time></span>
                <details>
                    <summary>Вопрос: Какие специализации врачей доступны в вашем медицинском центре?</summary>

                    <em>Ответ: В нашем медицинском центре доступны врачи-специалисты в таких областях, как кардиология,
                        неврология, а также общая медицина и многие другие специализации.</em>
                </details>
            </div>
        </li>
        <li>
            <div>
                <span>Добавлено: <time datetime="11.09.2023">11.09.2023</time></span>
                <details>
                    <summary>Вопрос: Как я могу записаться на прием к врачу?</summary>
                    <em>Ответ: Для записи на прием вы можете позвонить нам по указанному номеру телефона, заполнить
                        форму на
                        нашем сайте или прийти лично в наш медицинский центр.</em>
                </details>
            </div>
        </li>
        <li>
            <div>
                <span>Добавлено: <time datetime="11.09.2023">11.09.2023</time></span>
                <details>
                    <summary>Вопрос: Какие лабораторные и диагностические исследования доступны у вас?</summary>
                    <em>Ответ: Мы предоставляем широкий спектр лабораторных исследований, включая анализы крови,
                        ультразвуковые
                        исследования, рентгенографию и другие диагностические процедуры.</em>
                </details>
            </div>

        </li>
        <li>
            <div>
                <span>Добавлено: <time datetime="11.09.2023">11.09.2023</time></span>
                <details>
                    <summary>Вопрос: Какие услуги для детей предлагает ваш медицинский центр?</summary>

                    <em>Ответ: Мы обеспечиваем медицинское обслуживание для детей всех возрастов, включая общие осмотры,
                        вакцинацию, лечение детских болезней и многое другое.</em>

                </details>
            </div>
        </li>
        <li>
            <div>
                <span>Добавлено: <time datetime="02.01.2023">02.01.2023</time></span>
                <details>
                    <summary>Вопрос: Есть ли у вас услуги дистанционной консультации с врачем?</summary>
                    <em>Ответ: Нет, такой услуги мы не предоставляем</em>
                </details>

            </div>
        </li>
    </ul>
</section>
<br><br>
<section>
    <details>
        <summary>Что такое артериальное давление?</summary>
        <p>
            <dfn title="Артериальное давление">Артериальное давление</dfn> это давление, которое кровь оказывает на
            стенки кровеносных сосудов, иначе говоря, превышение давления
            жидкости в кровеносной системе над атмосферным. Обычно измеряется двумя значениями: верхнее
            (систолическое) и нижнее
            (диастолическое) давление.
            <br><em>Дата добавления:
            <time datetime="2023-09-10">2023-09-09</time>
        </em>
        </p>
    </details>


    <details>
        <summary>Пример цитаты <em>Альберта Эйнштейна</em></summary>
        <q cite="https://www.forbes.ru/forbeslife/dosug/262327-na-vse-vremena-100-vdokhnovlyayushchikh-tsitat">
            <strong>Стремитесь не к успеху, а к ценностям, которые он дает</strong>
        </q>
    </details>


    <details>
        <summary>Пример листинга кода :</summary>
        <code>
            <br>// Your First C++ Program
            <br> #include &lt;iostream&gt;
            <br>int main() {
            <br>std::cout &lt;&lt; "Hello World!";
            <br>return 0;
            <br>}
        </code>
    </details>


    <details>
        <summary>Что значит сокращение ЭКГ?</summary>
        <abbr title="Электрокардиограмма">ЭКГ</abbr>
    </details>

    <details>
        <summary>Переносы</summary>
        <p>Этот текст содержит фиксированный перенос: Это пример фиксированного<br>переноса строки.</p>
        <p>Этот текст содержит потенциальные переносы: Это
            <wbr>
            пример
            <wbr>
            потенциального
            <wbr>
            переноса
            <wbr>
            слова.
        </p>
    </details>
</section>
<br><br>
<footer>
    <p>&copy; 2023 СТР-Web Lab1. Все права защищены.</p>
</footer>

</body>
</html>