{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
          content="Краткая информация о последней опубликованной статье, реклама в виде баннера, список компаний партнеров">
    <title>Главная</title>
    <link rel="icon" type="image/x-icon" href="{% static 'hospital/images/site_icon.png' %}">
</head>
<body>
<header>
    <h1>Добро пожаловать на Главную страницу!</h1>
</header>
<section>
    <div>
        <h2>Последняя опубликованная статья</h2>
        <article>
            <details>
                <summary>
                    <em><b><font size="8" color="red" face="Arial">З</font>доровье Сердца: Роль Правильного Питания и
                        Физической Активности</b><br>
                        Сердечно-сосудистые заболевания остаются одной из основных причин смертности по всему миру.<br>
                        Однако
                        большинство из них можно предотвратить или смягчить, следуя правильным рекомендациям по питанию
                        и
                        физической активности. Исследования показывают... </em>
                </summary>
                что регулярное употребление определенных продуктов способствует поддержанию здоровья сердца. <br>Например,
                омега-3 жирные кислоты, содержащиеся в рыбе, могут снизить уровень холестерина и воспаления в сосудах,
                что уменьшает риск атеросклероза. <br>Овощи, фрукты и злаки богаты антиоксидантами, которые защищают
                сосуды
                от повреждений. Важно также помнить о контроле над калориями и избегать излишнего потребления соли и
                насыщенных жиров.
                <br>Они могут привести к гипертонии и ожирению, что увеличивает риск сердечных заболеваний.
                Физическая активность играет ключевую роль в поддержании здоровья сердца. <br>Регулярные упражнения
                способствуют снижению давления, укреплению сердечно-сосудистой системы и улучшению общего состояния
                организма. <br>Даже умеренная активность, такая как быстрая ходьба или езда на велосипеде, может оказать
                положительное воздействие.<br>Следуя рекомендациям по здоровому питанию и активному образу жизни, каждый
                из нас может внести вклад в
                сохранение и укрепление своего сердечного здоровья. Ведь забота о нашем сердце – это забота о качестве и
                продолжительности жизни.
            </details>

        </article>
    </div>
    <br><br><br>
    <a href="https://apteka.103.by/voltaren-emulgel/minsk/">
        <img src="{% static 'hospital/images/ad.jpg' %}" width="350px" title="Вольтарен гель" alt="Рекламный баннер">
    </a>
</section>
<section>
    <h2>Наши партнеры</h2>
    <nav>
        <a href="https://twitch.tv"><img width="50px" height="50px" src="{% static 'hospital/images/twitch_icon.jpg' %}"
                                         alt="Логотип Twitch"></a>
        <a href="https://bsuir.by"><img src="{% static 'hospital/images/bsuir_logo.jpg' %}" width="50px" height="50px"
                                        alt="Логотип BSUIR"></a>
        <a href="https://tesla.com"><img src="{% static 'hospital/images/tesla_icon.svg' %}" width="50px" height="50px"
                                         alt="Логотип Tesla"></a>
    </nav>
</section>

<footer>
    <p>&copy; 2023 СТР-Web Lab1. Все права защищены.</p>
</footer>
</body>
</html>