<!DOCTYPE html>

<html>
<head>
    <title>Вакансии</title>
    <meta charset="utf-8">
</head>
<body>
<div>
    <table border="1">
        <tr>
            <th bgcolor="lime" colspan="3">Доступные вакансии</th>
        </tr>
        <tr>
            <th id="position">Должность</th>
            <th id="responsibilities">Описание</th>
            <th id="payment">Зарплата</th>
        </tr>
        <tr>
            <td headers="position">Медицинская сестра-регистратор</td>
            <td headers="responsibilities"><pre>
    Специалист, отвечающий за прием пациентов, регистрацию медицинских данных и создание медицинских карт.
    Также организует расписание приемов, контролирует очередь, обслуживает телефонные звонки и оказывает помощь в решении
    организационных вопросов. Медицинские сестры-регистраторы играют важную роль в обеспечении эффективного функционирования
    медицинских учреждений.

        <em><b>График работы: 9-17 5/2</b></em>
            </pre>
            </td>
            <td headers="payment">1000 BYN</td>
        </tr>
        <tr>
            <td headers="position">Медицинский лаборант</td>
            <td headers="responsibilities"><pre>
    Специалист, который выполняет лабораторные анализы и тестирование образцов биологических жидкостей и тканей.
    Они проводят исследования для выявления различных заболеваний, контроля эффективности лечения и поддержания
    здоровья пациентов. Медицинские лаборанты работают в клинических и медицинских лабораториях, гарантируя точность
    и надежность результатов анализов.

        <em><b>График работы: 8-20 4/2</b></em>
            </pre>
            </td>
            <td headers>2000 BYN</td>
        </tr>
    </table>
</div>
</body>
</html>
