{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Список статей нашего сайта">
    <link rel="icon" href="favicon.ico">
    <title>Новости</title>

</head>
<body>
<header>
    <h1>Новости нашего сайта</h1>
</header>

<section>
    <article>
        <h2>Хронический простатит: причины, симптомы и лечение</h2>
        <p>В обзорной статье на основе результатов современных клинико-экспериментальных исследований рассматриваются
            патогенетическая роль и возможности коррекции нарушений баланса цитокинов и ассоциированных с ними
            оксидативных нарушений при различных формах хронического простатита. </p>
        <img src="{% static 'hospital/images/prostatit.jpg' %}" alt="Изображение статьи 1">
        <a href="https://www.rmj.ru/articles/urologiya/khronicheskiy-prostatit-prichiny-simptomy-i-lechenie/">Источник</a>
        <details>
            <summary>
                Читать статью
            </summary>
            Несмотря на 200-летнюю научную историю изучения простатитов, к настоящему времени не сформулирована какая-то
            одна универсальная теория развития заболевания, что существенно затрудняет проведение его эффективной
            терапии. Сегодня существует более 50 теорий патогенеза ХП, подробно описанных в литературе [4–6]. Ясно
            только одно – что любой ХП является затяжным, прогрессирующим и весьма склонным к рецидивам воспалением
            ткани ПЖ, приводящим со временем к нарушениям практически всех ее функций на фоне существенной перестройки
            органа на фоне фиброза ПЖ с необратимой потерей функционирующих клеток органа. Основной причиной таких
            нарушений при хроническом бактериальном простатите (ХБП) является любой попадающий в ПЖ инфекционный агент
            (чаще всего бактерии, реже – вирусы, грибы, простейшие), вызывающий прогрессирующее и рецидивирующее
            инфекционное воспаление.
        </details>
    </article>

    <article>
        <h2>Артериит Такаясу после перенесенной коронавирусной инфекции у молодой женщины: клиническое наблюдение</h2>
        <p>В работе представлено описание клинического дебюта артериита Такаясу (неспецифический
            аортоартериит) после перенесенной коронавирусной инфекции у молодой женщины с болезнью Стилла в анамнезе</p>
        <img src="{% static 'hospital/images/arterit.png' %}" height="400" alt="Изображение статьи 2">
        <a href="https://www.rmj.ru/articles/kardiologiya/Arteriit_Takayasu_posle_perenesennoy_koronavirusnoy_infekcii_u_molodoy_ghenschiny_klinicheskoe_nablyudenie/">Источник</a>
        <details>
            <summary>
                Читать статью
            </summary>
            Артериит Такаясу (АТ, болезнь Такаясу, болезнь отсутствия пульса, неспецифический аортоартериит) —
            деструктивно-продуктивный сегментарный аортит и субаортальный панартериит богатых эластическими волокнами
            артерий с возможным поражением коронарных и легочных ветвей. Характеризуется неспецифическим продуктивным
            воспалением стенки аорты и ее ветвей с облитерацией их устьев, а также крупных артерий мышечного типа1.
            Различают несколько типов поражения аорты: I тип — поражение ветвей дуги аорты; IIа тип — поражение
            восходящей части, дуги аорты и ее ветвей; IIб тип — поражение восходящей части, дуги аорты, ее ветвей и
            нисходящей части; III тип — поражение грудного и брюшного отделов аорты; IV тип — поражение брюшной аорты
            и/или почечных артерий; V тип — сочетание поражений, характерных для IIб и IV типов. Клиническая картина
            болезни может включать слабость в верхних конечностях, отсутствие пульса на лучевых и, в ряде случаев, на
            общих сонных артериях, разность артериального давления (АД) на правых и левых конечностях. Последний феномен
            встречается редко, и при его обнаружении необходима дифференциальная диагностика с другими заболеваниями,
            например расслаивающей аневризмой аорты. В настоящее время необходимыми условиями для установления диагноза
            АТ служат следующие 5 критериев Американской коллегии ревматологов (The American College of Rheumatology):
            возраст <40 лет, симптомы ишемии конечностей, градиент АД между конечностями >10 мм рт. ст., систолический
            шум в проекции сонных, подключичных артерий или аорты, изменения ангиографической картины. На основании этих
            критериев правильный диагноз устанавливают с чувствительностью 91% и специфичностью 98%2.
        </details>
    </article>

    <article>
        <h2>Редкое метаболическое заболевание — некетотическая глициновая энцефалопатия у новорожденного ребенка</h2>
        <p>В статье представлены краткий обзор механизма развития болезни, возрастные особенности различных форм и
            клинических вариантов глициновой энцефалопатии, диагностические критерии заболевания, клиническая
            классификация и принципы лечения. </p>
        <img src="{% static 'hospital/images/article3.jpg' %}" alt="Изображение статьи 3">
        <a href="https://www.rmj.ru/articles/nevrologiya/Redkoe_metabolicheskoe_zabolevanie__neketoticheskaya_glicinovaya_encefalopatiya_u_novoroghdennogo_rebenka/">Источник</a>
        <details>
            <summary>
                Читать статью
            </summary>
            Глициновая энцефалопатия (ГЭп), или некетотическая гиперглицинемия, — редкое наследственное заболевание с
            частотой встречаемости в мире 1 на 100 тыс. человек [1]. Болезнь наследуется по аутосомно-рецессивному
            механизму и чаще всего проявляется в неонатальном периоде. Распространенность данного заболевания среди
            новорожденных детей во всем мире составляет около 1 случая на 76 тыс. [2]. Более высокая частота болезни
            встречается в Финляндии и провинции Британская Колумбия в Канаде: 1:55 тыс. и 1:63 тыс. новорожденных
            соответственно [3]. Высокий уровень ГЭп регистрируется в арабских семьях и в Израиле [4]. Глицин
            метаболизируется в митохондриях мультиферментным комплексом расщепления (glycine cleavage sistem — GCS) до
            конечных продуктов — аммиака и двуокиси углерода.
        </details>
    </article>

</section>
<br><br>
<footer>
    <p>&copy; 2023 СТР-Web Lab1. Все права защищены.</p>
</footer>
</body>
</html>