{% extends 'hospital/base.html' %}
{% load static %}

{% block title %}Информация о доступных услугах{% endblock %}


{% block content %}
<link rel="stylesheet" href="{% static 'service/css/service.css' %}"/>
<div class="flex justify-center items-center">
  <p class="px-6 py-3 text-lg font-semibold">{{ timezone }} {{ datetime.date }}</p>
  <a href="{% url 'statistics' %}" class="bg-purple-500 hover:bg-white border-2 border-white hover:border-purple-500 hover:text-purple-700 text-white font-bold py-2 px-4 rounded-xl">Статистика сайта</a>

</div>

<div class="container mx-auto px-4">

    <h2 class="text-2xl font-bold mb-4">Категории услуг</h2>
    <ul class="flex flex-wrap gap-4 py-2">
        {% for category in categories %}
        <li><a href="#{{ category.id }}" class="text-blue-500 py-2 border-b-2 hover:text-blue-700">{{ category.name }}</a></li>
        {% endfor %}
    </ul>
    <h2 class="text-2xl font-bold my-4">Услуги</h2>

    <li class="flex items-center">
        <form method="get">
            <div class="items-center justify-center flex">
                <select name="category" id="category" class="border border-gray-300 rounded-md mb-4 px-3 py-2">
                    {% for category in categories %}
                    <option value="{{ category.id }}">{{ category }}</option>
                    {% endfor %}
                </select>
                <div class="flex items-center mb-4">
                    <label for="start_price" class="mx-4 text-lg">Начальная цена:</label>
                    <input type="number" name="start_price" id="start_price" value="{{ start_price }}"
                           class="border-b-2 shadow-lg border-r-2 border-gray-300 rounded-md py-1 px-2 bg-white">
                </div>
                <div class="flex items-center mb-4 ml-4">
                    <label for="end_price" class="mr-2 text-lg">Конечная цена:</label>
                    <input type="number" name="end_price" id="end_price" value="{{ end_price }}"
                           class="border-b-2 border-r-2 shadow-lg border-gray-300 rounded-md py-1 px-2 bg-white">
                </div>

            </div>

            <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                Применить фильтр
            </button>
        </form>
    </li>


    {% if selected_category %}
    <h2 id="{{ category_by_id.id }}" class="category text-xl py-1 border-b-2 border-gray-400 font-normal my-4">{{ category_by_id }}</h2>
    <ul>
        {% for service in services %}
        <li class="flex items-center mb-2">
            <span class="font-light">{{ service.name }}</span>
            <span class="font-light mx-2">-</span>
            <span class="font-extrabold">{{ service.price }} BYN</span>
        </li>
        {% endfor %}
    </ul>
    {% else %}
    {% for category in categories %}
    <h2 id="{{ category.id }}" class="category text-xl py-1 border-b-2 border-gray-400 font-normal my-4">{{ category }}</h2>

    <ul>
        {% for service in services %}

        {% if service.category == category %}
        <li class="flex items-center mb-2">
            <span class="font-light">{{ service.name }}</span>
            <span class="font-light mx-2">-</span>
            <span class="font-extrabold">{{ service.price }} BYN</span>
        </li>
        {% endif %}

        {% endfor %}
    </ul>
    {% endfor %}
    {% endif %}
</div>
{% endblock %}

